* {box-sizing: border-box;}

body {
    background-color: #EAEAEA;
    color: #666666;}

body {
    font-family: Arial, Helvetica, sans-serif;}

#wrapper {
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);}

header {
    background-color: #002171;
    color: #FFFFFF;
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;}

header a:link { text-decoration: none; color: #FFFFFF;}
header a:visited {color: #FFFFFF;}
header a:hover  {color: #90C7E3;}

nav {
    font-size: 120%;
    padding: 0;
    font-weight: bold;}

nav {text-align: center;}

nav a {
    text-decoration: none;
    transition: color 3S ease-out;}

nav ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2em;}

nav li {border: solid #000033 1px;}

nav a:link { color: #5C7FA3;}
nav a:visited {color: #344873;}
nav a:hover { color: #A52A2A;}

main{background-color: #FFFFFF;
     padding-top: 1px;
     padding-right: 20px;
     padding-bottom: 20px;
     padding-left: 30px;
     display: block;
     overflow: auto;}

h1 {
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    letter-spacing: 0.25em;
    font-family: Georgia, "Times New Roman", serif;
    margin-top: 0;}

h2 {
    color: #1976D2;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px 1px #CCCCCC}

h3 {
    color: #000033;
    font-family: Georgia,"Times New Roman", serif;}

main ul {list-style-image: url("marker.gif");}

dt {color: #002171}

#homehero {
    height: 300px;
    background-image: url("coast2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }

#yurthero {
    height: 300px;
    background-image: url("yurt.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }

#trailhero {
    height: 300px;
    background-image: url("trail.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }

.resort {
    color: #1976D2;
    font-weight: bold;}


#contact { font-size: 90%;}

footer{
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 2em;
    background-color: #FFFFFF;}

table {
    border: 2px solid #3399CC;
    border-collapse: collapse;}
th, td {
    padding: 0.5em;
    border: 2px solid #3399CC;}

td {text-align: center;}
.text { text-align: left;}

tr:nth-of-type(odd) {background-color: #F5FAFC;}

form {display: flex; flex-flow: column nowrap;}
input, textarea { margin-bottom: 0.5em;}
video, embed {float: right; padding-left: 20px;}
@media (min-width: 600px)
    {
    nav ul {display: flex;}

    nav ul {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;}

    nav ul { border-style: none}
    nav li {border-style: none;}
    nav li {border-bottom: none;}

    section {
        padding-right: 2em;
        padding-left: 2em;}

    .content main {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;}

    h2 {grid-row: 1/2; grid-column: 1/5;}
    section {grid-row: 2/3; grid-column: auto;}
    #special {grid-row: auto; grid-column: 1/5;}
    footer {grid-row: auto; grid-column: 1/5;}

    form {
        display: grid;
        grid-template-columns: 6em 1fr;
        grid-template-rows: auto;
        width: 60%;
        grid-gap: 1em;}

    input[type="Submit"] {
        grid-column: 2/3;
        width: 9em;}
    }

@media (min-width: 1024px)
    {
    nav ul{
        display: flex;
        flex-flow: column;
        padding-top: 1em;}
    nav {
        text-align: left;
        padding-left: 1em;}
    #wrapper{
        margin:auto;
        width: 80%;
        border: #000033;
        box-shadow: 3px 3px 3px #333333;
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 180px auto;}

        header {grid-row: 1/2; grid-column: 1/3;}
        nav {grid-row: 2/5; grid-column: 1/2;}
        #homehero {grid-row: 2/3; grid-column: 2/3;}
        main { grid-row: 3/4; grid-column: 2/3;}
        footer { grid-row: 4/5; grid-column: 2/3;}


    }


