body { background-color: #F5F5F5;
       color: #40407A;
       font-family: Verdana, Arial, sans-serif;}

header {background-color: #80CBC4;
        background-image: url("lilyheader.jpg");
        background-position: right;
        background-repeat: no-repeat;}

nav {text-align: center;
    font-weight: bold;}

nav a {text-decoration: none;}

h1 {margin-bottom: 0;
    line-height: 400%;
    text-indent: 1em;}

li {font-size: 90%;}

dd {font-size: 90%;}

footer {background-color: #80CBC4;
    font-size: small;
    font-style: italic;
    text-align: center;}


